{$SITE_ADDRESS} {
	encode zstd gzip

	handle /.well-known/acme-challenge/* {
		root * /var/www/certbot
		file_server
	}

	handle /source-code {
		redir {$SOURCE_CODE_URL} 302
	}

	handle {
		header {
			X-Content-Type-Options "nosniff"
			Referrer-Policy "strict-origin-when-cross-origin"
			-Server
		}

		request_body {
			max_size 55MB
		}

		reverse_proxy app:3456
	}
}
